.bg-lighter{
    background-color: rgba(255, 255, 255, .55);
  }
.bg-existing-lighter {
    background-color: $famous;
  }
.bg-existing-middle {
    background-color: $careful;
  }
.bg-cover{
    background-size: cover;
    background-position: center bottom;
    min-height: 300px !important;
}
.break-vertical-block{
    margin-top: -26px;
    margin-bottom: -26px;
}
