
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../stylesheets/helpers/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

//元件
@import "../stylesheets/compontents/jumbotron";
@import "../stylesheets/compontents/carousel";

// 通用類別
@import "../stylesheets/compontents/utilities";